NET "Entrada<0>" LOC = "P11"; 
NET "Entrada<1>" LOC = "L3";
NET "Entrada<2>" LOC = "K3";
NET "Entrada<3>" LOC = "B4";

NET "Salida<0>" LOC = "L14";
NET "Salida<1>" LOC = "H12";
NET "Salida<2>" LOC = "N14";
NET "Salida<3>" LOC = "N11";
NET "Salida<4>" LOC = "P12";
NET "Salida<5>" LOC = "L13";
NET "Salida<6>" LOC = "M12";
NET "Salida<7>" LOC = "N13";

NET "habilita0" LOC = "K14";
NET "habilita1" LOC = "M13";
NET "habilita2" LOC = "J12";
NET "habilita3" LOC = "F12";