//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 16 12:49:33 2021
//! **************************************************************************

SCHEMATIC START;
COMP "Z<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "V<0>" LOCATE = SITE "B4" LEVEL 1;
SCHEMATIC END;

